.container_success{
    background-color: rgb(203, 255, 47);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 2rem 1rem;
}  
.container_success h2{
    text-align: center;
    font-size: 2.6rem;
}
.container_success img{
    width: 95%;
    margin: 0 auto;
}
.btn_container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.btn_item{
    all: unset;
    background-color: aqua;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
@media (min-width: 768px){
    .container_success h2{
        font-size: 3.6rem;
    }
    .container_success img{
        width: 30%;
    }
    .btn_item{
        background-color: aqua;
        font-size: 2rem;
        border-radius: 1rem;
        cursor: pointer;
    }
    .btn_container{
        display: flex;
        width: 100%;
        gap: 2rem;
        justify-content: center;
    }
}